<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style/style.css" />
    <script src="js/main.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <style>

  *{
    padding: 0;
    margin: 0;


}
body {
  font-family: 'Trebuchet MS';

}


 .mainblock {
    /* border: ridge; */
    padding: 0;
    margin: auto;
    max-width: 720px; 
   height: 100%;
    /* background-color: rgb(200, 195, 204); */

} 

.container {
  font-family: 'Trebuchet MS';
    padding: 15px;
    float: left;
    background-color: rgb(228, 221, 233);
max-width: 720px;   
 margin: auto;
    border: ridge;
    }
 

.panel-body {   
  font-family: 'Trebuchet MS';
font-style: normal;
display: block;
    padding: 15px 15px 15px 15px;
    background-color: rgb(228, 221, 233);
    width: 100%;
    font-weight: lighter;
  font-size: 15px;
}
.row:after {
    content: "";
    float: right;
    display: table;
    clear: both;
    padding: 12px 12px;
    margin: 0;
    align-content: flex-start;
    width: 100%;
    font-family: 'Trebuchet MS';
    font-weight: lighter;
  font-size: 15px;
}
.check {
  font-family: 'Trebuchet MS';
    float: center;
    width: 100%;
    padding: 10px;
    position: relative;
    font-family: Arial;
    /* font-size: 13px; */
    font-weight: lighter;
  font-size: 15px;
    
}
/* .panel-heading {
    background-color: rgb(200, 195, 204);
    color: black;
    border-collapse: collapse;
}
.panel-title{
    height: 10px;
    color: black;
} */
.check2 {
  font-family: "Trebuchet MS";
    float: center;
    width: 100%;
    padding: 10px;
    font-family: 'Trebuchet MS';
    font-weight: lighter;
  font-size: 15px;

}
.header{
  font-family: 'Trebuchet MS';
    margin: 0;
    padding: 12px;
    /* padding-left: 12px; */
    color: white;
    width: 100%;
    height: 50px;
    border: ridge;
    background-color: rgb(87, 19, 143);
    font-size: large;
    

}
label {
  font-family: 'Trebuchet MS';
  font-weight: lighter;
  font-size: 15px;
}

.personaldata{
  font-family: 'Trebuchet MS';
  font-weight: lighter;
  font-size: 15px;
  padding: 10px;
  /* background-color: rgb(228, 221, 233); */

  /* letter-spacing: 1px; */

}

input[type=text], textarea{
    width: 435px;
    /* padding: 10px; */
    /* border: 1px solid #FDFBFE; */
    /* border-radius: 4; */
    font-family: 'Trebuchet MS';
    
    resize: vertical;
    align-self: auto;
    align-content: flex-start;
    /* border-bottom: 2px solid black; */


}
.block2 {
    width: 100%;

}


input[type=submit] {
  background-color: rgb(87, 19, 143);
    color: white;
    /* padding: 12px; */
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    align-content: center;
    width: 100px;
    height: 30px;
    font-family: 'Trebuchet MS';
    font-size: 15px;
}
a{
  font-family: 'Trebuchet MS';
  padding-left: 15px;
}

input[type=button]:hover {
 
  font-family: 'Trebuchet MS';
}

input[type=button] {
  background-color: rgb(87, 19, 143);
    color: white;
    margin: 5px;

    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    align-content: center;
    width: 100px;
    height: 30px;
    font-family: 'Trebuchet MS';
    font-size: 15px;

}

input[type=submit]:hover {
 
  font-family: 'Trebuchet MS';
}


.col-20 {
    float: left;
    width: 20%;
    margin-top: 0;
     /* display: inline-block; */
    
}
.col-80 {
    float: left;
    width: 80%;
    margin-top: 6px;
  
}

.rightopheader {
  float: right;
  padding: 15px;
  font-size: 30px;
}
.image {
  float: left;
  padding: 15px;
  margin: 15px;
}
.customerno {
  float: left;


}

.sameas {
  padding-left: 11px;
  font-family: 'Trebuchet MS';

} 
.EVQ{
    background-color: rgb(228, 221, 233);
  font-family: 'Trebuchet MS';
  font-weight: lighter;
  font-size: 15px;
  padding: 10px;


}

/* .panel-title {
  float: left;
} */
/* .active, .panel-title {

} */
.panel-title:after {
content: '\002B';
float: left;
}
.active:after {
  content: "\2212";
}



#myForm .action-button {
  width: 100px;
  background: #67d5bf;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#myForm .action-button:hover,
#myForm .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #67d5bf;
}

.Agreement{
  background-color: rgb(228, 221, 233);
  font-family: 'Trebuchet MS';     <!-- <script src="js/main.js"></script> -->

  font-weight: lighter;
  font-size: 15px;
  padding: 10px;

}
.bizzipbox{
    text-align: left;
    font-weight: lighter;
    background-color: rgb(228, 221, 233);
  font-family: 'Trebuchet MS';
  font-weight: lighter;
  font-size: 15px;
  padding: 10px;
}
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
    font-weight: lighter;
    background-color: rgb(228, 221, 233);
  font-family: 'Trebuchet MS';
  font-weight: lighter;
  font-size: 15px;
  padding: 10px;
    
}

table {
    border-collapse: collapse;
    width: 100%;
    font-weight: lighter;
    background-color: rgb(228, 221, 233);



}

th, td {
    padding: 5px;
    font-weight: lighter;



}
@media screen and (min-width: 600px) {
  font-family: 'Trebuchet MS';
     input[type=text] {
        width: 100%;
        margin-top: 0;
    }

    [class*="container"]{
      width: 100%
    }
}
@media screen and (min-width: 720px) {
  font-family: 'Trebuchet MS';
     input[type=text] {
        width: 100%;
        margin-top: 0;
    }

    [class*="container"]{
      width: 100%
    }
}

@media screen and (min-width: 768px) {
  font-family: 'Trebuchet MS';
     input[type=text] {
        width: 100%;
        margin-top: 0;
    }

    [class*="container"]{
      width: 100%
    }
}
@media screen and (min-width: 992px) {
  font-family: 'Trebuchet MS';
     input[type=text] {
        width: 100%;
        margin-top: 0;
    }

    [class*="container"]{
      width: 100%
    }
}
@media screen and (max-width: 1200px) {
  font-family: 'Trebuchet MS';
     input[type=text] {
        width: 100%;
        margin-top: 0;
    }

    [class*="container"]{
      width: 100%
    }
}



</style> -->





</head>
<body>
        <form action="/customers/add" id="myForm" name="myForm" method="POST">
            <div class="mainblock">
                    <div class="container">

        <div class="header">
    Agreement term      </div>
    <div class="Agreement">
    The initial agreement term is 24 months as from when the agreement enters into effect as specified  in the Contractual Service Description.
    </div> 
    
    <br>
    <div class="header">
    Billing details
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#Billdetails">
            <!-- <span class="glyphicon glyphicon-plus"></span> -->
             Billing details</a>
        </h4>
      </div>
      <div id="Billdetails" class="Billdetails">
        <div class="panel-body">
          <div class="check2">
              <div class="col-20">
                     <label for="  Billing details">  Billing details</label>
                     </div>
                     <div class="col-80">
                      <div class="sameas">
                      <td> <input type=radio name=copy1 value='yes' onclick="data_copy1()";> Billing deatils same as customer details
                         <br> <input type=radio name=copy1 value='no' onclick="data_copy1()";> Billing details are different from customer details
                   </td>
                  </div>
                  </div>
                  <div class="col-20">
                        <label for="customer">Contact Person:</label>
                    </div>
                    <div class="col-80">
                      <input type="text" name="CP" id="CP"><br>
                      </div>
                      <div class="col-20">
                            <label for="customer">Company name:</label>
                        </div>
                        <div class="col-80">

                      <input type="text" name="CN" id="CN"><br>
                      </div>
                      <div class="col-20">
                            <label for="customer"> Address:</label>
                        </div>
                        <div class="col-80">

                        <input type="text" name="biladd" id="biladd"><br>
                        </div>
                        <div class="col-20">
                                <label for="customer"> Postal code + town: </label>
                            </div>
                            <div class="col-80">

                        <input type="text" name="PCT" id="PCT">
                        </div>
                             </div>
                        </div>
                     </div>
             
             <br>


                        <div class="header">Pricing conditions(amount without VAT ) </div>
                        <div class="pricingamount">
                               <table>
                                   <tr>
                                       <th>Site</th>
                                       <th>Price*</th>
                                       <th>Total quantity</th>
                                       <th>Total Cost</th>
                                   </tr>
                                   <tr>
                                       <td>Site1</td>
                                       <td>€25,00/month</td>
                                       <td>10</td>
                                       <td>€250,00</td>
                                   </tr>
                                   <tr>
                                        <td>Site2</td>
                                        <td>€25,00/month</td>
                                        <td>20</td>
                                        <td>€500,00</td>
                                    </tr>
                                    <tr>
                                            <td>Total</td>
                                            <td></td>
                                            <td>30</td>
                                            <td>€750,00</td>
                                        </tr>


                               </table>

                               <table>
                                   <td>One time charge <br>Unit Price/Channel: € 10</td>
                                <td> Total Channels:30</td>
                                <td> Total Cost: € 0</td>
                                </table>

                               
                        </div>
                        <div class="EVQ">
                                Extra Voice QOS <br>
                                Unit Price:2€/Channel <input type="text" id="UP" name="UP" style="width:100px;"/> Total Channels <input type="text" id="TC" name="TC" style="width:100px;"/>
                                Total cost <input type="text" id="totalco" name="totalco" style="width:100px;"/><br>
                                <br>
                                *Only Available for Convergent configuration with Explore

                        </div>
                            <div class="bizzipbox">
                        <input type="checkbox" name="bizzip" id="bizzip"> Bizz IP Box|ISDN(max.8 ISDN-2) |Installation €52,0661 | Recurrent Fee €6,50 <br>

                        <input type="checkbox" name="bizzip" id="bizzip"> Bizz IP Box|Other PBX supplier ((≤30 channels)| Installation €52,0661|Recurrent Fee €6,50 <br>


                        <input type="checkbox" name="bizzip" id="bizzip"> Bizz IP Box|Other PBX supplier(60-120 channels)|Installation €250,00|Recurrent Fee €22,00 <br> 
                        </div>
                        <p>*All amounts are in EUR and excl. VAT.</p>

                        
             <!-- close of container -->
        </div>
        <!-- close of mainblock -->
    </div>


</form>

<!-- <script>

   function data_copy1()
{
if(document.myForm.copy1[0].checked){
document.myForm.CP.value=document.myForm.cname.value;
document.myForm.CN.value=document.myForm.comname.value;
document.myForm.biladd.value=document.myForm.address.value;
document.myForm.PCT.value=document.myForm.pcode.value;

}else{
document.myForm.CP.value="";
document.myForm.CN.value="";
document.myForm.biladd.value="";
document.myForm.PCT.value="";

}
}



var acc = document.getElementsByClassName("panel-title");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}

function reset(){
  document.getElementById("myForm").reset();
}
	


//jQuery time
var current_fs, next_fs, previous_fs; //fieldsets
var left, opacity, scale; //fieldset properties which we will animate
var animating; //flag to prevent quick multi-click glitches

$(".next").click(function(){
	if(animating) return false;
	animating = true;
	
	current_fs = $(this).parent();
	next_fs = $(this).parent().next();
	
	//activate next step on progressbar using the index of next_fs
	$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
	
	//show the next fieldset
	next_fs.show(); 
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale current_fs down to 80%
			scale = 1 - (1 - now) * 0.2;
			//2. bring next_fs from the right(50%)
			left = (now * 50)+"%";
			//3. increase opacity of next_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({'transform': 'scale('+scale+')'});
			next_fs.css({'left': left, 'opacity': opacity});
		}, 
		duration: 500, 
		complete: function(){
			current_fs.hide();
			animating = false;
		}, 
		//this comes from the custom easing plugin
		easing: 'easeOutQuint'
	});
});

$(".previous").click(function(){
	if(animating) return false;
	animating = true;
	
	current_fs = $(this).parent();
	previous_fs = $(this).parent().prev();
	
	//de-activate current step on progressbar
	$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
	
	//show the previous fieldset
	previous_fs.show(); 
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale previous_fs from 80% to 100%
			scale = 0.8 + (1 - now) * 0.2;
			//2. take current_fs to the right(50%) - from 0%
			left = ((1-now) * 50)+"%";
			//3. increase opacity of previous_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({'left': left});
			previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
		}, 
		duration: 500, 
		complete: function(){
			current_fs.hide();
			animating = false;
		}, 
		//this comes from the custom easing plugin
		easing: 'easeOutQuint'
	});
});

$(".submit").click(function(){
	return false;
})

</script> -->


</body>
</html>